* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {

} */
section {
  margin-bottom: 30px;
}
li {
  list-style: none;
}

/* a {
  color: white;
  text-decoration: none;
} */

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 100%;
  /*debug*/
  min-height: 300px;
}
