* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {

} */

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container {
  width: 95%;
  margin: 0 auto;
  /*debug*/
  /* background-color: rgb(247, 247, 232);
  border: 1px solid black; */
}

.desktop {
  display: none;
}