/* header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 80px;
  background-color: #0084FD;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
} */

/* .header-container {
  justify-content: space-between;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  color: white;
} */

header {
  margin-bottom: 50px;
}

header.container {
  display: flex;
  justify-content: space-between;
}

header .desktop-menu {
  display: none;
}