main {
  margin: 120px 0 40px 0;
}

/*FIRST SECTION - DEMO*/
.demo .container {
  height: 750px;
}

.demo .cards-container {
  height: 100%;
}

.demo .card {
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}