/* main {
  margin: 120px 0 40px 0;
} */

.round-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: gray;
  display: inline-block;

}

.testimonial-card {
  text-align: center;
}