@media screen and (min-width:768px) {
  
  .f-column.min-tablet-row {
    flex-direction: row;
  }

  .demo .cards-container {
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
  }

  .demo .card {
    width: 30%;
    height: 45%;
  }

  .demo .card:first-child {
    width: 65%;
  }

  .demo .card {
    margin-bottom: 0;
  }

  .testimonials .card-img {
    width: 30%;
  }

  .testimonials .card-text {
    width: 60%;
  }

}

@media screen and (min-width:1200px) {
  
  .f-column.min-desktop-row {
    flex-direction: row;
    align-content: space-between;
  }
  
  .max-tablet {
    display: none;
  }

  .desktop {
    display: block;
  }

  .header-container,
  .container {
    width: 60%;
  }

  .planning .card:first-child {
    width: 60%;
  }

  .planning .card-text {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .planning .card-inner {
    width: 35%;
    flex-direction: column;
  }

  .testimonials .card-img {
    width: 30%;
  }

  .testimonials .card-text {
    width: 60%;
  }

}