@media all and (min-width:768px) {

  .container {
    max-width: 100%;
  }

  #intro .col:first-child {
    width: calc(100% / 1.5);
  }

  #intro .col {
    width: calc(100% / 3);
  }

  #intro .col:first-child .col {
    width: 50%;
  }

  #testimonials .col:first-child {
    width: calc(100% / 3);
  }

  #testimonials .col {
    width: calc(100%/ 1.5);
  }

  #benefits .col {
    width: 50%;
  }

  #about .col {
    width: 50%;
  }


}



@media all and (min-width:1200px) {
  
  .container {
    max-width: 1200px;
  }

  header .burger-menu {
    display: none;
  }
  
  header .desktop-menu {
    display: block;
  }

  #planning .col {
    width: 50%;
  }

  #benefits .col {
    width: calc(100% / 3);
  }

  #about .col:first-child {
    width: calc(100% / 1.5);
  } 

  #about .col {
    width: calc(100% / 3);
  } 



}